.fieldsetContainer {
  display: inline-flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #939393;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.previewImage {
  height: 500px;
  width: 500px;
  border-radius: 15px;
  border: 3px solid var(--border-color);
  padding: 6px;
}

.mintInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-height: flex;
  border: 3px solid var(--border-color);
  border-radius: 15px;
}

.infoSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.description {
  opacity: 0.9;
  font-size: small;
  width: 33%;
}

.imageSide {
  width: 100%;
  height: 100%;
}

.image {
  width: fit-content;
  margin-top: 3px;
  border: 3px solid var(--border-color);
  border-radius: 12px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(
    to left,
    var(--color-primary) 0%,
    var(--color-secondary) 101.52%
  );
  color: #fff;
  padding: 24px;
  text-align: center;
  border-radius: 9999px;
  border-style: none;
}

.mainButton:hover {
  opacity: 0.8;
}

.mintCompletionArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mintAreaLeft {
  margin-left: 3%;
  opacity: 0.75;
}

.mintAreaRight {
  margin-right: 3%;
  opacity: 0.75;
}

.spacerTop {
  margin-top: 12px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.buttonGapTop {
  cursor: pointer;
  margin-top: 32px;
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.mintContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.textInput {
  width: 48px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
}

.quantityControlButton {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 33%;
  font-size: xx-large;
  background-color: transparent;
  border: 2px solid grey;
  color: #fff;
}

.quantityControlButton:hover{
  background-color: rgb(85, 85, 85);
}

.quantityControlButton:disabled {
  opacity: 0.25;
}

.timer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: -40px;
}

.timerItem {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.timerValue {
  font-size: 2rem;
  font-weight: 600;
}

.timerLabel {
  font-size: 1rem;
  opacity: 0.75;
  margin-top: -20px;
}

.fieldsetCollection {
  display: flex;
  justify-content: left;
  margin-top: 1.5rem;
  padding: 1rem;
  align-items: top;
  flex-wrap: scroll;
  border-radius: 6px;
  border: 3px solid #939393;
  font-size: small;
  overflow: scroll;
  overflow-y: hidden;
}

.nftGrid {
  display: flex;
  flex-direction: row;
  padding: 1.2%;
  max-width: 94.23vw;
}

.nftItem {
  padding: .45rem;
  background-color: #757575;
  text-align: left;
  color:#eaeaea;
  text-decoration: none;
  border: 3px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 7px 15px 15px -6px #0000007d;
  transition: color 0.15s ease, border-color 0.15s ease;
  margin-right: 2.4rem;
}

.nftImage {
  padding: .45rem;
  background-color: #757575;
  text-align: left;
  color:#eaeaea;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 7px 15px 15px -6px #0000007d;
  transition: color 0.15s ease, border-color 0.15s ease;
}

/* On mobile, make the .mintInfoContainer stack vertically */
@media screen and (max-width: 850px) {
  .mintInfoContainer {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .infoSide {
    width: 100%;
  }

  .imageSide {
    width: 100%;
  }
}
